@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}
nav img {
    cursor: text;
}
header nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
nav li {
    display: inline;
    margin-right: 30px;
    font-size: 17px;
}
nav li a {
    text-decoration: none;
    padding: 8px;
}
nav li a:hover {
    background: lightgray;
    color: black;
    text-decoration: underline;
    transition: 0.2s;
}
nav .btn-head .btn {
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    background: rgba(82, 195, 3, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
nav .btn-head .btn:hover {
    background: blue;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
#hero {
    height: 615px;
    background: rgba(255, 255, 255, 1);
    background-image: url(../assets/hero-bg.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    width: 685px;
}
#hero .hero-content .subtitle {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
}
#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}
#hero .hero-content .description {
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 19px;
}
#hero .hero-content .btn {
    padding: 14px 18px 14px 18px;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    transition: 0.2s;
    cursor: pointer;
}
.btn-container {
    text-align: center;
}

/* #hero .hero-content .btn-container:hover .btn {
    background: blue;
    color: white;
} */
#card-box {
    width: 884px;
    margin: 100px auto;
}
#card-box .title {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.card-container {
    margin-top: 30px;
    display: inline-flex;
    justify-content: space-between;
    gap: 10px;
}
.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.card .image-box {
    width: 250px;
}
.card .image-box img {
    width: 100%;
}
.card .name {
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}
.card .btn {
    padding: 13px 18px 13px 18px;

    border-radius: 8px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;

    background: rgba(82, 195, 3, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}
.card .btn:hover {
    background: blue;
    color: white;
    cursor: pointer;
}
.top {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.top .image img {
    width: 430px;
    height: 239px;
}
.top .text {
    color: rgba(16, 16, 16, 1);
    width: 500px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}
.top .know {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.top .follow {
    color: rgba(16, 16, 16, 1);

    font-family: Work Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.top .last {
    display: block;
}
.top .last .btn a {
    padding: 5px 7px;
    color: blue;
    background: lightgray;
    /* border: 1px solid black;
    border-radius: 5px; */
    display: block;
}
.top .last .btn a :hover {
    background-color: rgb(255, 254, 254);
    color: black;
}
.btn-container .hero-btn:hover {
    background: blue !important;
    color: white !important;
}
